@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
                <div class="card-header">Profile</div>
                <div class="card-body">
                    <h4 class="card-title">Become a member of our site!</h4>
                    <div class="form-group">
                        <label asp-for="Username" for="exampleInputEmail1" class="form-label mt-4">Username</label>
                        <input asp-for="Username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.PhoneNumber" for="exampleInputEmail1" class="form-label mt-4">Phone Number</label>
                        <input asp-for="Input.PhoneNumber" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Image" class="form-label mt-4">Choose profile picture</label>
                        <input asp-for="Input.Image" type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                </div>
                <button id="update-profile-button" type="submit" class="btn btn-danger">Save</button>
            </div>
        </form>
    </div>
</div>
<br><br>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}