@{
    ViewData["Title"] = "Home Page";
}

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->
<section class="hero">
    <div class="hero-content">
        <center>
            <br />
            <i class="fas fa-house-user fa-3x"></i>
            <h1>Welcome to tenants association</h1>
            <p class="text-info" style="margin-bottom: 8rem; ">To see your invoice you have to be logged in. Please click on the button to sing in. If you don't have an account please create one.</p>

           
        </center>
    </div>
</section>
